<footer id="contentinfo" class="body">
  <div class="wrapper-footer-inner">
    <address id="about" class="vcard body"><em>
      Built with 
      <a href="http://compass-style.org/">Compass</a>,
      <a href="http://zengrids.com/">Zen Grids</a>  and
      <a href="http://ethanschoonover.com/solarized">Solarized</a>
      on the Python-powered <a href="http://getpelican.com/">Pelican</a>.
{#      Theme is <a href="#">zen-zen.</a>#}
    </em></address><!-- /#about -->
  </div>
</footer><!-- /#contentinfo -->
